body{
  margin: 0px;
  font-family: Helvetica;
}

.header-and-img{
  text-align: center;
}

#header{
  font-size: 65px;
}

#header-img{
  margin-top: 10px;
  width: 970px;
  height: 300px;
}

.nature-section{
  display: flex; 
  display: -webkit-flex;
  margin: 50px auto; 
  width: 450px;
}

.nature-photo{
  width: 233px;
}

.photo-details{
  margin-left: 30px;
}

.category-heading{
  font-size: 30px;
}

.nature-list{
  padding-left: 15px; 
}

.nature-name{
  margin-bottom: 10px;
  font-size: 25px;
}

.nature-link{
  font-size: 30px;
  color: green;  
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #45a1ff;
}


.My-GitHub{
  color: #ffff;
  text-decoration: none;
}

.photo{
  margin-left: 12px;
}
